# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/lib/generated/prisma

# Storage directories (uploaded files, documents, biometric data)
/storage/uploads
/storage/documents
/storage/certificates
/storage/biometric
*.pdf
*.jpg
*.jpeg
*.png
!public/**/*.jpg
!public/**/*.jpeg
!public/**/*.png
